<!-- ./views/index.handlebars -->
<div class="container mt-5 justify-content-center">

  <!-- search bar -->
  <div class="container search-bar col-md-8">
    <div class="row">
      <div class="search-bar-outer">
        <div class="search-bar-inner d-flex justify-content-center align-items-end">
          <form action="/search" class="col-md-6 ms-4">
            
            <div class="input-group">
              <input
                type="text"
                name="keyword"
                class="form-control"
                placeholder="請輸入支出項目(部分)名稱搜尋"
                aria-label="Expense Name..."
                value="{{keyword}}"
                aria-describedby="search-button"
              />
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="search-button">
                  <i class="fa-solid fa-magnifying-glass py-1"></i>
                </button>
              </div>
            </div>
          </form> 
            <div class="dropdown mb-3 mx-2">
              <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                類別
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><a href="/traffic" class="dropdown-item" type="button">交通</a></li>
                <li><a href="/food" class="dropdown-item" type="button">飲食</a></li>
                <li><a href="/entertainment" class="dropdown-item" type="button">娛樂</a></li>
                <li><a href="/education" class="dropdown-item" type="button">教育</a></li>
                <li><a href="/others" class="dropdown-item" type="button">其他</a></li>
              </ul>
            </div> 
            <div>
              <a class='btn btn-primary mb-3' href='/expenses/new'><i
                class='fa-solid fa-plus pe-1'></i>新增支出</a>
            </div>      
          </div> 
        
      </div>
    </div>
  </div>
    
<div class="container justify-content-center text-center text-dark mt-1"> <span class="align-top fs-5 fw-bold">總金額:</span><span class="fs-1 text-primary ms-3" name="total">51235</span></div>
<!-- restaurant list -->

<ul class="list-group">
  {{#each expenses}}
  <li class="list-group-item">
    <div class="row">
      <div class="col-auto me-auto">
        <input style="vertical-align: middle;" type="checkbox" name="isDone" {{#if this.isDone }} checked {{/if}}
          disabled>
        <h4 style="display: inline; vertical-align: middle;">
          {{ this.name }}
        </h4>
      </div>
      <div class="col-auto">
        <a class="btn btn-secondary" href="./expenses/{{ this._id }}">detail</a>
        <a class="btn btn-success" href="./expenses/{{ this._id }}/edit">edit</a>
        <form action="./expenses/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button class="btn btn-danger" type="submit">delete</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>